<html>
<head>
<a href="{{ url_for('logout') }}" class= "button">Logout</a><br>
</head>
<body>
	{% if image_link != 'No image available' %}
	<img src= "{{ image_link }}" alt= "Profile Picture" align="left" width="50" height="50">
	{% endif %}
	<h1>{{ username }}</h1><br>
	<h2><a href="{{ url_for('welcomepage') }}">New Search</a></h2>
	<form action="{{ url_for('wishlist')}}" method="POST">
		<h2>Which restaurants would you like to add to your WishList?</h2>
		{%for d in data%}
		<input type="checkbox" name="restaurant" value="{{d['restaurant']['name']}}">{{d['restaurant']['name']}}<br>
		<a href= '{{d['restaurant']['url']}}' target= "_blank"> Click to view more details on {{d['restaurant']['name']}}</a><br><br>
		{%endfor%}
		<input type="submit" value="Add to WishList">
</form> 
</body>
</html>